.head-video-headline {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.video-headline {
  font-size: 80px;
  font-weight: 600;
  -webkit-text-stroke: 2px #fff;
  color: transparent;
  transition: 0.5s;
}

.video-headline:hover {
  -webkit-text-stroke: 2px #fff;
  color: #fff;
}

@media (max-width: 1199.98px) {
  .video-headline {
    font-size: 60px;
  }
}

@media (max-width: 991.98px) {
  .video-headline {
    font-size: 50px;
  }
}

@media (max-width: 767.98px) {
  .video-headline {
    font-size: 40px;
  }
}

@media (max-width: 575.98px) {
  .video-headline {
    font-size: 30px;
  }
}